{% extends 'base.html' %} 
 
{% block title %} HomePage {% endblock %} 
 
{% block content %} 
 
<br/> 
<br/> 
 
<!-- Creates a row so that the shot tracker and recent analytics box can be next to each other --> 
<div class = "row"> 
    <!-- Determines the width of the box --> 
    <div class = "col-md-6"> 
 
        <!--Creates the box--> 
        <div class="box shadow py-3 px-3 h-100"> 
             
            <!-- Centres the shot tracker title --> 
            <div align = "center"> 
 
                <!-- The boxes title --> 
                <h4> Shot Tracker </h4> 
 
            </div> 
             
            <!-- Uses a POST method and allows files to be uploaded properly --> 
            <form method = "POST" enctype = "multipart/form-data"> 
 
                <!-- Informs the user what the drop down list does -->                  
                <label for = "shot_type" class = "form-label"> Select Shot Type </label> 
 
                <!-- Creates the drop down list --> 
                <select name = "shot_type" class = "form-select" required> 
 
                    <!-- All the shot type options in the drop down list --> 
                    <option disabled selected>  </option> 
                    <option value = "Layup"> Layup </option> 
                    <option value = "Free Throw"> Free Throw </option> 
                    <option value = "Mid Range"> Mid Range </option> 
                    <option value = "Three Pointer"> Three Pointer </option> 
 
                </select> 
                 
                <br/> 
 
                <!-- Explains what the file upload is for --> 
                <label for = "video" class = "form-label"> Upload Video </label> 
 
                <!-- File upload --> 
                <input type = "file" name = "video" class = "form-control" accept = "video/*" required> 
 
                <!-- Button to confirm shot type and upload the file into the shot tracker --> 
                <div align = "center"> 
                    <button type = "submit" class = " btn btn-warning mt-4 "> Upload </button> 
 
                </div> 
            </form> 
        </div> 
    </div> 
 
    <!-- Determines the width of the box --> 
    <div class = "col-md-6"> 
 
        <!--Creates the box--> 
        <div class = "box shadow py-3 px-3 h-100"> 
             
            <!-- Centres the recent analytics title --> 
            <div align = "center"> 
 
                <!-- The boxes title --> 
                <h4> Recent Analytics </h4> 
 
            </div> 
 
            <!-- If an error was returned by the shot tracker --> 
            {% if processing_error %} 
                <br/> 
                <br/> 
                <br/> 
 
                <!-- Small red text telling the user the problem --> 
                <div align = "center"> 
                    <small class = "text-danger"> {{processing_error}} </small> 
                </div> 
 
                <br/> 
                <br/> 
 
            <!-- If there are any recent stats available --> 
            {% elif new_stats %} 
 
                <!-- unordered list without bullet points --> 
                <ul class = "list-unstyled"> 
                    <br/> 
 
                    <!-- Stats being presented, mb-4 puts space between them --> 
                    <li class = "mb-4"> Shots Attempted: {{new_stats.shot_count}} </li>         
                    <li class = "mb-4"> Shots Made: {{new_stats.make_count}} </li>  
                    <li class = "mb-4"> Field Goal Percentage: {{new_stats.field_goal}} </li> 
                    <li class = "mb-4"> NBA Player Comparison: {{nba_comparison}} </li> 
 
                </ul> 
 
 
            <!-- If there are no recent stats available --> 
            {% else %} 
                <br/> 
                <br/> 
                <br/> 
 
                <!-- Small red text telling the user the problem --> 
                <div align = "center"> 
                    <small class = "text-danger"> No recent analytics available </small> 
                </div> 
 
                <br/> 
                <br/> 
 
            {% endif %} 
         
        </div> 
    </div> 
</div> 
 
<br/> 
<br/> 
<br/> 
 
<!-- Width of the box --> 
<div class = "col-md-12"> 
 
    <!--Creates the box--> 
    <div class = "box shadow py-3 px-3 h-100"> 
         
        <!-- Centres the alltime analytics title --> 
        <div align = "center"> 
 
            <!-- The boxes title --> 
            <h4> All-Time Analytics </h4> 
        </div> 
 
        <!-- Uses a GET moethod --> 
        <form  method = "GET"> 
             
            <!-- Puts space between the side of the box and the drop down list --> 
            <div class = "container">   
                <!-- Used to get the drop down list and submit button side by side --> 
                <div class = "row"> 
                     
                    <!-- Width of the drop down list --> 
                    <div class = "col-md-3"> 
 
                        <!-- Informs the user what the drop down list does -->                                 
                        <label for = "alltime_shot_type" class = "form-label"> Select Shot Type </label> 
 
                        <!-- Creates the drop down list --> 
                        <select name = "alltime_shot_type" class = "form-select" required> 
 
                            <!-- All the shot type options in the drop down list --> 
                            <option disabled selected>  </option> 
                            <option value = "Layup"> Layup </option> 
                            <option value = "Free Throw"> Free Throw </option> 
                            <option value = "Mid Range"> Mid Range </option> 
                            <option value = "Three Pointer"> Three Pointer </option> 
 
                        </select> 
                    </div> 
 
                    <!-- Puts the submit button next to the drop down list --> 
                    <div class="col-md-4 d-flex align-items-end"> 
                        <!-- The submit button --> 
                        <button type = "submit" class = " btn btn-warning"> Submit </button> 
                    </div> 
                </div> 
            </div> 
 
        </form> 
 
        <br/> 
 
        <!-- If there are any recent stats available --> 
        {% if alltime_shot_type%} 
 
            <!-- Puts space between the side of the box and the text --> 
            <div class = "container">   
                <!-- unordered list without bullet points --> 
                <ul class = "list-unstyled"> 
             
                    <!-- Stats being presented, mb-4 puts space between them --> 
                    <li class = "mb-4"> Shot Type: {{alltime_shot_type}}</li> 
                    <li class = "mb-4"> Shots Attempted: {{alltime_stats.total_shot_attempts}} </li>         
                    <li class = "mb-4"> Shots Made: {{alltime_stats.total_shot_makes}} </li>  
                    <li class = "mb-4"> Field Goal Percentage: {{alltime_stats.alltime_field_goal}} </li> 
                    <li class = "mb-4"> NBA Player Comparison: {{alltime_stats.alltime_nba_comparison}} </li> 
                </ul> 
            </div> 
             
        {% else %} 
             
            <!-- Small red text telling the user the problem --> 
            <div align = "center"> 
                <small class = "text-danger"> Please select a shot type </small> 
            </div> 
             
            <br/> 
            <br/> 
         
        {% endif %} 
         
        </div> 
        </div> 
         
{% endblock %} 
         
 
            